/*=========================================================================
Global Stuff
==========================================================================*/

html {
    margin: 0px;
    padding: 0px;
    background-color: beige;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* just make scrollbar invisible */
}


/* show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#textArea {
    overflow: scroll;
    margin: auto;
    background-color: white;
    border: black solid 1px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.9));
}

#titleBar {
    margin: auto;
}

input {
    font-size: calc(80% + 1vw + 1vh);
    height: 80%;
    margin-bottom: 2px;
}


/*=========================================================================
End of Global Stuff
==========================================================================*/


/*=====================================================================================
Normal Screen stuff
======================================================================================*/

@media (min-width:601px) {
    #textArea {
        width: 90vw;
        height: 70vh;
    }
    #titleBar {
        display: flex;
        width: 90vw;
        height: 40px;
        padding: 2px;
        align-items: center;
    }
}


/*=====================================================================================
End of Normal Screen stuff
======================================================================================*/


/*=====================================================================================
Small Screen optimized
======================================================================================*/

@media (max-width:600px) {
    #titleBar {
        width: 100vw;
        max-width: 100%;
        height: 30px;
        margin-bottom: 3px;
    }
    #textArea {
        width: 100vw;
        max-width: 100%;
        height: calc(90vh - 40px);
        margin-bottom: 3px;
    }
    #editorButtons {
        width: 100vw;
        max-width: 100%;
        height: 25px;
        margin-bottom: 3px;
    }
}


/*=====================================================================================
End of Small Screen optimized
======================================================================================*/