#textArea{
    width:100vw;
    background-color:aliceblue;
    max-width:100%;
    height:calc(100%-30px);
}
#editorButtons{
    width:100vw;
    max-width: 100%;
    background-color:aquamarine;
    height: 25px;
}
html{
    width:100vw;
    height:100vh;
    background-color:black;
}